/* This page contains all the classes with hover, inputfield classes, etc*/

.textlink {
    color:black;
}

.textlink:hover {
    color:darkcyan;
    cursor:pointer;
}


/*CSS for generate button present on the research and corporate dashboard*/
.generatebutton {
    width:40%;
}

.titlebutton {
    font-family: Work Sans;
    font-size: 60px;
    font-weight: 200;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    
}

.fineprint {
    font-family: Work Sans;
    font-weight: 300;
    font-size: 20px;
    color: #3A138D;
    text-decoration: underline 1.5px;
    cursor: pointer;
    transition: font-weight 0.15s;
    margin-top: 20px;
  }

  .fineprint:hover {
    color: black;
  }

.caccbutton {
    background-color: #3A138D;
    border: none;
    color: white;
    font-family: Work Sans;
    font-weight: 200;
    font-size: 20px;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
  
  }
  
  
  .caccbutton:hover {
    opacity: 0.8;
    box-shadow: 1px 1px 1px #3A138D;
  }

  .inputfield:focus::placeholder {
    color:transparent;
  }