/* This page contains all the classes with hover, inputfield classes, etc*/


.textlink {
    color:black;
}

.textlink:hover {
    color:darkcyan;
    cursor:pointer;
}


/*CSS for generate button present on the research and corporate dashboard*/
.generatebutton {
    width:40%;
}

/*CSS for the textarea width*/
.generaltextarea {
    width:60%;
}


/*homepage and login buttons*/
      /*name takes back to homepage*/
      .titlebutton {
          font-family: Work Sans;
          font-size: 60px;
          font-weight: 200;
          background-color: transparent;
          color: white;
          border: none;
          cursor: pointer;
          
      }

      /*already have an account link*/
      .fineprint {
          font-family: Work Sans;
          font-weight: 300;
          font-size: 20px;
          color: #3A138D;
          text-decoration: underline 1.5px;
          cursor: pointer;

          transition: color 0.15s;
          margin-top: 1rem;

      }

      .fineprint:hover {
          color: black;
      }

        /*get started button formatting*/
        .gsbutton {
          font-family: Work Sans;
          font-weight: 100;
          font-size: 20px;
          background-color: transparent;
          border-color: transparent;
          color: white;
          width: 160px;
          cursor: pointer;
          transition: font-weight 0.15s;
          
        }
        
        .gsbutton:hover {
          font-weight: 200;
        }


      /*submit button on log in pages*/
      .caccbutton {
          background-color: #3A138D;
          border: none;
          color: white;
          font-family: Work Sans;
          font-weight: 200;
          font-size: 20px;
          border-radius: 5px;
          width: 350px;
          height: 40px;
          margin: auto;
          margin-top: 30px;
          margin-bottom: 20px;
          cursor: pointer;
        
      }
        
      .caccbutton:hover {
        opacity: 0.8;
        box-shadow: 1px 1px 1px #3A138D;
      }


/*templates inputs*/
.inputfield:focus::placeholder {
  color:transparent;
}

.inputfield {

  border: solid 1px;
  border-radius: 3px;
  border-color: black;
  box-shadow: 0.7px 0.7px 0.7px black;
}


/* CSS so that the trash icon (acts as an icon) gets colored when hovered over */
.trashicon:hover {

  color:#DC143C;
}

.trashicon {
  color: #3A138D;
  cursor: pointer;
}



/*CSS for generic shaped buttons*/
      /*CSS for a button that is used across the site*/
      .basicbutton {
        background-color: #3A138D;
        border: none;
        color: white;
        font-family: Work Sans;
        font-weight: 200;
        font-size: 20px;
        border-radius: 5px;
        padding: 0.7rem;
        cursor: pointer;
      }

      .basicbutton:hover {
        opacity: 0.8;
        box-shadow: 1px 1px 1px #3A138D;
      }

      /*square button*/
      .squarebutton {
        background-color: #3A138D;
        border: none;
        color: white;
        font-family: Work Sans;
        font-weight: 200;
        font-size: 20px;
        border-radius: 5px;
        padding: 1rem;
        cursor: pointer;
      }

      .squarebutton:hover {
        opacity: 0.8;
        box-shadow: 1px 1px 1px #3A138D;
      }

      /*round button*/
      .roundbutton {
        background-color: #3A138D;
        border: none;
        color: white;
        font-family: Work Sans;
        font-weight: 200;
        font-size: 20px;
        border-radius: 25px;
        padding: 0.7rem;
        cursor: pointer;
      }

      .roundbutton:hover {
        background-color: #1b0055;

      }

      .roundbutton:active {
        background-color: #3a138d;
      }

      /*thin button*/

      .thinbutton {
        background-color: #3A138D;
        border: none;
        color: white;
        font-family: Work Sans;
        font-weight: 200;
        font-size: 20px;
        border-radius: 5px;

        cursor: pointer;
      }

      .thinbutton:hover {
        opacity: 0.8;
        box-shadow: 1px 1px 1px #3A138D;
      }


/*CSS class that removes the original styling of the button tag*/
.buttonstyleremove {
    border: none;
    cursor: pointer;
    outline: none;
  }


/*styles for types - not doing anything right now*/



.pointer {
  cursor: pointer;
}

/*signup input*/
.epass {

  font-family: Work Sans;
  font-weight: 300;
  font-size: 20px;



  border: solid;
  border-radius: 5px;
  border-color: #3A138D;

  margin: auto;
  width: 350px;
  height: 40px;
  margin-top: 2rem;

}

.generateinput {
  font-family: Poppins;
  font-weight: 300;
  font-size: 16px;
  border: solid;
  border-radius: 5px;
  border-color: black;
  height: 35px;

}

.generateoutput {
  font-family: Poppins;
  font-weight: 300;
  font-size: 13px;
  border: solid;
  border-radius: 5px;
  border-color: black;
  height: fit-content;
}

.linebutton {

  border: none;
  background-color: white;
  text-decoration: underline 0.8px;
  color: black;
  cursor: pointer;
  transition: color 0.15s;
}

.linebutton:hover {
  color: #3a138d;
}

.footerbutton {
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
}

.footerbutton:hover {
  text-decoration: underline 0.8px;
}

.searchbar {
  font-family: Poppins;
  font-weight: 300;
  border: none;
  color: black;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  padding-left: 0.5rem;
}

.searchbutton {

 
  height: 35px;

  border: none;
  border-radius: 10px;
  background-color: #3A138D;
  cursor: pointer;

}

.searchbutton:hover {
  opacity: 0.8;
  box-shadow: 1px 1px 1px #3A138D;
}

.backbutton {
  background-color: white;
  border: none;
  color: #3A138D;


  font-weight: 200;
  border-radius: 25px;
  width: 100px;
  padding: 0.7rem;
  cursor: pointer;
  transition: ease-in-out font-weight 0.15s;
  
}

.backbutton:hover {
  font-weight: 300;

}



  