/* This is the file that contains all the color related classes like background, backgroundofbuttons, highlightcolor, etc */



.greensuccess {
    color:#259944;
}

/*colours on homepage*/
.forstudents {
    background-color: #1B0055;
}
  
.howwork {
    background-color: #0E0129;
}
  
.main3 {
    background-color: white;
}

