/*This page contains all the css for layouts on the website*/
  
.grid {
    display:grid;
}

.gap-r-5 {
    grid-row-gap:5px;
}
  
.gap-r-7 {
    grid-row-gap:7px;
}
  
.gap-r-10 {
    grid-row-gap:10px;
}
  
.gap-r-15 {
    grid-row-gap:15px;
}
  
.gap-r-22 {
    grid-row-gap:22px;
}
  
.gap-r-25 {
    grid-row-gap:25px;
}
  
.gap-r-30 {
    grid-row-gap:30px;
}
  
.gap-r-85 {
    grid-row-gap:85px;
}
  
.gap-c-10 {
    grid-column-gap:10px;
}
  
.gap-c-20 {
    column-gap:20px;
}

/* CSS for Dashboard layout*/
.outerdashnav {
    display:grid;
    grid-template-columns:1fr 3fr;
}

.innerdashnav {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;

}

/* CSS for any page loaded in page load from the dashboard so that they have appropriate space on both sides*/
.generaldashspace {
    display:grid;
    grid-template-columns:0.25fr 4fr 0.25fr;
}

/* CSS for the research interface page layout*/
.research-inputgrid {
    display:grid;
    grid-template-columns:1fr 0.1fr 1fr;
}

/* CSS for creating side-space on any other page on the website*/
.generalspace {
    display:grid;
    grid-template-columns:0.15fr 4fr 0.15fr;
}

.title {
    display: inline-flex;
    padding-left: 4rem;
    padding-top: 2rem;
}



/*move buttons to right*/


  .buttons {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }




/*ATTENTION: used the same CSS layouts for both resumes and templates page*/
/*CSS layout for the your templates section where the templates listed*/ 
.templateslayout {
    display:grid;
    grid-template-columns:4fr 1fr;
}

/*CSS layout for each individual template row under the Your Templates Section to add the last updated text; also used for delete button*/
.individualtemprow {
    display:grid;
    grid-template-columns:1fr 3fr;
}

/*CSS layout for creating two side by side columns*/
.generaltwocolumns {
    display:grid;
    grid-template-columns:1fr 1fr;
}

/*CSS layout for creating three side by side columns*/
.generalthreecolumns {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
}

/*CSS layout for the search grid on emails interface*/
.searchgrid {
    display:grid;
    grid-template-columns:4fr 1fr;
  }

/*CSS layout for the emails being displayed on your emails page and it is the CSS for the layout*/
.majoremailgrid {
    display:grid;
    grid-template-columns:0.04fr 2fr 1fr 0.04fr;
    grid-column-gap:5px;
}

/*CSS layout for the save and copy buttons  of the email display*/
.saveandcopygrid {
    display:grid;
    grid-template-columns:6fr 1.1fr 0.1fr;
}

/*two columns for homepage*/

  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

/*add space around homepage*/
  .main1 {
    margin: 5rem;
  }

  /*for pricing*/
  .gridpricing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
  }



  /*Tablets*/
@media (max-width: 768px) {
    .gridpricing {
        display: grid;
        grid-template-columns: 1fr;
    }

    .grid2 {
        display: grid;
        grid-template-columns: 1fr;
    }
}

/*Mobile*/
@media (max-width: 500px) {
    /*make in one column*/
    .grid2 {
        display: grid;
        grid-template-columns: 1fr;
    }
    /*remove image*/
    .paperairplane {
        display: none;
    }

    .gridpricing {
        grid-template-columns: 1fr;
    }


   

}



/*for pricing*/
  .gridpricing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
  }


/*Tablets*/
@media (max-width: 768px) {
    .gridpricing {
        display: grid;
        grid-template-columns: 1fr;
    }

    .grid2 {
        display: grid;
        grid-template-columns: 1fr;
    }
}

/*Mobile*/
@media (max-width: 500px) {
    /*make in one column*/
    .grid2 {
        display: grid;
        grid-template-columns: 1fr;
    }
    /*remove image*/
    .paperairplane {
        display: none;
    }

    .gridpricing {
        grid-template-columns: 1fr;
    }




   

}


/*extra classes*/
.centernongrid {
    text-align:center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.marginbottom {
    margin-bottom: 2rem;
}

.inline {
    display: inline-flex;
}

.noborder {
    border: none;
}

.fit {
    width: fit-content;
}

.vertfit {
    height: fit-content;
}

.width90 {
    width: calc(90%);
}

.width50 {
    width: calc(50%);
}

.auto {
    margin: auto;
}

.roundcorner {
    border-radius: 5px;
}

/*position buttons not at edge of homepage headers*/
.buttons {
    width: calc(90%);
}

/*dropdown formatting*/


















