/* This contains all the classes that are not described by the other pages*/

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.center {
    margin:auto;
}

#resumeupload {
    display:none;
}

.toppadding {
    padding-top:10px;
  }
  
.bottompadding {
    padding-bottom:10px;
}
  
.sidetosidepadding{
    padding-right:10px;
    padding-left:10px;
}

/* CSS cass for giving the elemnt a display of none*/
.none {
    display:none !important;
}

/*CSS class for giving a grid box a shadow*/
.boxshadow {
    -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
  }

  /*CSS so text doesn't stick to the top left corner in textarea*/
  textarea {
    padding:5px;
  }

  /*CSS so text doesn't stick to the left side on an input*/
  input {
    padding:5px;
  }



