
.header {
  background-color: #3A138D;
  
}

.main1 {
  background-color: #3A138D;
}

body {
  background-color: #3A138D;
}

.forstudents {
  background-color: #1B0055;
}

.howwork {
  background-color: #0E0129;
}

.main3 {
  background-color: white;
}