body, html {
  margin: 0;
  padding: 0;
}

.grid1 {
  display: grid;
  grid-template-columns: 5fr 1fr;
  padding-left: 5rem;
}

.title {
  display: inline-flex;
  
}

.header {
  padding-top: 1.5rem;
}

.epass {
  padding-top: 20px;
}

.signup {
  padding-top: 10px;
}

.main1 {
  margin: 5rem;
}

.buttons {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main4 {
  margin: auto;
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
