.line1 {
  width: calc(90%);
  height: 1px;
  border-bottom: 0.3px solid white;
  margin: auto;
}

.line2 {
  width: calc(90%);
  height: 1px;
  border-bottom: 1px solid #3A138D;
  margin: auto;
}

.box {
  text-align: center;

  width: 400px;
  height: 430px;

  background-color: white;
  z-index: 300;
  border-radius: 10px;

  margin: auto;
}


.box2 {
  text-align: center;

  width: fit-content;
  height: fit-content;
  

  background-color: white;
  z-index: 300;
  border-radius: 10px;

  margin: auto;
  padding: 1rem;
  padding-top: 0;
  margin-right: 2rem;

}


input {
  padding-left: 10px;
  border: none;
  font-family: Work Sans;
  font-weight: 300;
  font-size: 20px;
  color: #3A138D;
  border: solid;
  border-radius: 5px;
  border-color: #3A138D;

  margin: auto;
  width: 350px;
  height: 40px;


}
